.navigation-bar {
  background-color: #7c4584;
  padding: 15px;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
}

.navigation-bar a {
  color: #fff;
  font-size: 20px;
  padding: 30px;
  font-family: "Indie Flower", sans-serif;
}

.navigation-bar a:hover {
  background-color: #30062a;
}

body {
  background-color: #ffe7f6;
  font-family: Lora, sans-serif;
}

h1 {
  text-align: center;
  padding-top: 150px;
  font-size: 55px;
  font-family: Spectral, sans-serif;
}

#introduction {
  text-align: center;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 60px;
}

h2 {
  padding-left: 10%;
  font-size: 35px;
  font-family: "Indie Flower", sans-serif;
}

#educ-table-title {
  font-size: 30px;
  border: 2px solid #000;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: bold;
}

th {
  background-color: #ce99c1;
  font-size: 18px;
  font-family: Cambria, Georgia, Times, "Times New Roman", serif;
}

td {
  padding: 10px;
}

table {
  border: 2px solid #282626;
  padding: 35px;
  text-align: center;
  font-size: 17px;
  width: 73%;
  margin-left: auto;
  margin-right: auto;
}

#art-button {
  padding-top: 25px;
}

.art-content {
  font-size: 17px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 25px;
}

.art-summaries img {
  width: 150px;
  border: 3px solid #6c4964;
  display: inline;
  float: right;
  overflow: auto;
}

.family-section {
  margin-left: 15%;
  font-size: 20px;
  padding-bottom: 80px;
}

.footer {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  background-color: #7c4584;
  color: #fff;
}
